/* ----------------------Informacoes ------------------ */
.infomacoes .cards {
  display: flex;
  flex-wrap: wrap;
  padding: 50px 8%;
  justify-content: space-around;
  gap: 40px 20px;
}
.infomacoes .cards .card {
  width: 250px;
  position: relative;
  text-align: center;
}
.infomacoes .cards .card p {
  font-family: "Manrope";
  background: rgba(31, 32, 34, 0.7176470588);
  position: absolute;
  height: 75px;
  display: flex;
  width: 100%;
  bottom: 2px;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 14px;
  text-align: center;
  line-height: 17px;
}

/* ----------------------Paginas ------------------ */
.wraper-contratadas {
  position: relative;
}
.wraper-contratadas .info-conteudo-contratadas {
  margin: 0 10% 0 10%;
  display: grid;
  justify-content: space-between;
  grid-template-columns: 73% 25%;
  font-family: "Manrope", sans-serif;
}
@media (max-width: 840px) {
  .wraper-contratadas .info-conteudo-contratadas {
    display: flex;
  }
}
.wraper-contratadas .info-conteudo-contratadas .info-contratadas {
  width: -webkit-fill-available;
}
.wraper-contratadas .info-conteudo-contratadas .info-contratadas h2 {
  text-align: center;
  font-weight: 700;
  font-size: 46px;
  line-height: 52px;
  color: #074e97;
  padding: 50px 0 20px 0;
}
.wraper-contratadas .info-conteudo-contratadas .info-contratadas p {
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: #2f2f2f;
}
.wraper-contratadas .info-conteudo-contratadas .info-contratadas p strong {
  font-weight: 500;
}
.wraper-contratadas .info-conteudo-contratadas .info-contratadas p a {
  color: #458ed6;
  text-decoration: underline;
  font-weight: 400;
}
.wraper-contratadas .info-conteudo-contratadas .info-contratadas h3 {
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  color: #074e97;
  padding: 30px 0;
}
.wraper-contratadas .info-conteudo-contratadas .info-contratadas span {
  font-weight: 600;
  font-size: 26px;
  line-height: 30px;
  color: #808080;
}
.wraper-contratadas .info-conteudo-contratadas .info-contratadas ul {
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  list-style: inside;
}
.wraper-contratadas .info-conteudo-contratadas .info-contratadas .imgsContratadas {
  padding: 0px 0 30px 0;
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  gap: 20px;
}
.wraper-contratadas .info-conteudo-contratadas .info-contratadas .imgsContratadas img {
  width: 300px;
  height: auto;
}

/*--------------------------------------------------------------
- Includes Paginas
--------------------------------------------------------------*/
.includes {
  margin: 0 10% 0 10%;
}

/* ---------------------- Regioes ------------------ */
.titulo-regioes-atendimento {
  display: flex;
  gap: 28px;
  height: 80px;
  align-items: center;
  margin-top: 12px;
  font-weight: 700;
  font-size: 25px;
  color: #074e97;
  padding: 0 0 0 0;
}
@media (max-width: 840px) {
  .titulo-regioes-atendimento {
    flex-direction: column;
    gap: 0px;
    height: auto;
    margin-bottom: 20px;
  }
}
@media (max-width: 640px) {
  .titulo-regioes-atendimento {
    margin: 5px 0 5px;
    font-size: 14px;
  }
}

.regioes-aba-titulo span {
  display: inline-block;
  cursor: pointer;
  transition: all 0.2s ease 0s;
  color: #ccc;
  background-color: #003366;
  font-size: 12px;
  padding: 5px 8px;
  margin: 0 5px 5px 0;
  border-radius: 2px;
}
.regioes-aba-titulo span:hover {
  color: #fff;
  background-color: #2863b1;
}

span.regioes-aba-titulo-selecionada {
  color: #fff;
  background-color: #2863b1;
}

.regioes-conteudo {
  color: #666666;
  background-color: #f8f8f8;
  border: 1px solid #2863b1;
}
.regioes-conteudo ul {
  padding: 5px 8px 10px 8px;
}
.regioes-conteudo ul:nth-child(n+2) {
  display: none;
}
.regioes-conteudo ul li {
  display: inline-block;
  padding: 2px 0 0 2px;
  width: 31%;
  font-size: 12px;
  font-weight: bold;
}

/* ---------------------- Barra Lateral ------------------ */
.barra-lateral .barra-lateral-box {
  padding: 50px 0px;
}
.barra-lateral .barra-lateral-box .barra-lateral-conteudo {
  background-color: #f9f9f9;
}
.barra-lateral .barra-lateral-box .barra-lateral-conteudo h5 {
  display: block;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: bold;
  padding: 15px 0;
  margin: 0 0 5px 0;
  background-color: #003366;
  text-align: center;
  border-radius: 10px 10px 0 0;
}
.barra-lateral .barra-lateral-box .barra-lateral-conteudo h5 a {
  color: white;
}
.barra-lateral .barra-lateral-box .barra-lateral-conteudo ul {
  height: 1300px;
  overflow: scroll;
}
.barra-lateral .barra-lateral-box .barra-lateral-conteudo ul li {
  border-bottom: 1px solid rgba(102, 102, 102, 0.568627451);
}
.barra-lateral .barra-lateral-box .barra-lateral-conteudo ul li a {
  font-size: 12px;
  font-weight: normal;
  color: #999;
  padding: 6px 10px;
  display: block;
  background-color: rgba(255, 255, 255, 0);
}
.barra-lateral .barra-lateral-box .barra-lateral-conteudo ul li a:hover {
  color: #0084b4;
}
@media (max-width: 840px) {
  .barra-lateral {
    display: none;
  }
}

/* -------------------- Saiba Mais Sobre ----------------- */
.saiba-mais-sobre {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0 50px 0;
  font-size: 30px;
  color: #003366;
  gap: 25px;
}

.botao-contato {
  font-size: 20px;
  padding: 15px 45px;
  border-radius: 20px;
  transition: all 300ms linear 0s;
  background-color: #2d82d8;
  color: #ffffff;
}
.botao-contato:hover {
  border-radius: 15px;
  color: #fff;
  background-color: #07105f;
}

/* ---------------------- Produtos Relacionados ------------------ */
.titulo-produtos-relacionados h4 {
  font-weight: 700;
  font-size: 30px;
  color: #000000;
  padding: 20px 0 20px 0;
  display: flex;
  justify-content: center;
  margin: 15px 0 5px;
}

.produtos-relacionados img {
  transition: all 0.2s ease 0s;
  border: 1px solid #ccc;
}
.produtos-relacionados img:hover {
  border: 1px solid #666666;
}
.produtos-relacionados p {
  margin: 5px 0 0 0;
  text-align: center;
  color: #000000;
  font-size: 12px;
  font-weight: normal;
  text-decoration: underline;
}
.produtos-relacionados p:hover {
  font-weight: bold;
}
.produtos-relacionados .slick-prev:before,
.produtos-relacionados .slick-next:before {
  color: #666666;
}

/* ---------------------- Mais Visitados ------------------ */
.mais-visitados {
  margin-top: 20px;
  padding: 0 0 7px 0;
  font-size: 12px;
  text-align: justify;
  background-color: #f8f8f8;
  border: 1px solid #000000;
}
.mais-visitados h5 {
  font-size: 16px;
  font-weight: bold;
  padding: 8px 10px;
  margin: 0 0 5px 0;
  color: #666666;
  background: #fff;
  display: flex;
  justify-content: center;
}
.mais-visitados ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.mais-visitados ul a {
  color: #000000;
  margin: 4px 9px;
  display: inline-block;
  border-bottom: 1px dotted #ccc;
}
.mais-visitados ul a:hover {
  color: #000000;
  text-decoration: none;
}

/* ---------------------- Tags ------------------ */
.tags {
  font-size: 11px;
  padding: 5px;
  color: #666666;
  background-color: #f8f8f8;
  margin: 10px 0 0 0;
}

/* ---------------------- Direitos Autorais ------------------ */
.direitos-autorais-conteudo {
  font-size: 11px;
  color: #999;
  margin: 10px 0 20px 0;
}
.direitos-autorais-conteudo a {
  color: #000000;
}